# --- Node modules & builds ---
node_modules
**/node_modules
dist
**/dist
.pnpm-store
.pnpm-debug.log
.turbo
turbo.log

# --- Logs ---
*.log
**/*.log

# --- Git & CI/CD ---
.git
.gitignore
.gitattributes

# --- Éditeurs & OS ---
.vscode
.idea
.DS_Store

# --- Tests & coverage ---
coverage
tests
**/__tests__/
tmp

# --- Autres caches & fichiers temporaires ---
*.tmp

# --- Minio ---
minio-data
minio-config
.minio.sys
minio-volumes